<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant 2 mese</title>
    <style>
    body{
        margin: 0px;
        background-color: hsl(0, 0%, 95%);    
    }
    .navbar ul{
        list-style-type: none;
        background-color: hsl(0, 0%, 12%);
        margin: 0px;
        padding: 0px;
    }
    .navbar a{
        color: white;
        text-decoration: none;
        padding: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .navbar a:hover{
        background-color: hsl(0, 0%, 30%);
    }

    </style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href={% url 'restaurant:descriere_url'  %} >Descriere</a></li>
            <li><a href={% url 'restaurant:meniu_url'  %} >Meniu</a></li>
            <li><a href={% url 'restaurant:contact_url'  %} >Contact</a></li>
            <li><a href={% url 'rezervare_url'  %} >Rezervare</a></li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'rezervari_list_url' %}">Cont</a>
                {% else %}
                    <a href="{% url 'account_login' %}">Cont</a> 
                {% endif %}
            </li>
        </ul>
    </nav>


    {% block main %}
        
    {% endblock main %}
        
</body>
</html>