{% extends "base.html" %}
{% load static %}



{% block main %}
<div style="text-align: center; padding: 2em 0; background-color: #f8f8f8;">
    <div style="max-width: 800px; margin: 0 auto; padding: 0 1em;">
        <h1 style="font-size: 2.5em; margin-bottom: 0.5em;">Contactați-ne</h1>
        <p style="font-size: 1.2em; color: #555; margin-bottom: 1.5em;">
            Vă așteptăm cu drag la restaurantul nostru! Pentru informații suplimentare, rezervări sau întrebări, vă rugăm să ne contactați folosind detaliile de mai jos.
        </p>

        <h2 style="font-size: 1.8em; color: #333; margin-bottom: 0.5em;">Program de lucru</h2>
        <p style="font-size: 1.2em; color: #777; margin-bottom: 1.5em;">
            Deschis sâmbăta, începând cu ora 17:00.
        </p>
        
        <h2 style="font-size: 1.8em; color: #333; margin-bottom: 0.5em;">Locația noastră</h2>
        <p style="font-size: 1.2em; color: #555; margin-bottom: 1.5em;">
            Ne puteți găsi la:
        </p>
        <p style="font-size: 1.3em; color: #333; margin-bottom: 1.5em;">
            Strada Nevermore 11, Wonderland
        </p>

        <h2 style="font-size: 1.8em; color: #333; margin-bottom: 0.5em;">Contactați-ne</h2>
        <p style="font-size: 1.2em; color: #555; margin-bottom: 0.5em;">
            Telefon: <a href="tel:+0711444777" style="color: #007bff; text-decoration: none;">0711.444.777</a>
        </p>
        <p style="font-size: 1.2em; color: #555; margin-bottom: 1.5em;">
            E-mail: <a href="mailto:restaurant@2mese.com" style="color: #007bff; text-decoration: none;">restaurant@2mese.com</a>
        </p>

        <div style="margin-top: 2em;">
            <h2 style="font-size: 1.8em; color: #333; margin-bottom: 0.5em;">Vă așteptăm cu drag!</h2>
            <p style="font-size: 1.2em; color: #555;">
                Dacă aveți întrebări sau doriți să faceți o rezervare, nu ezitați să ne contactați. Suntem aici pentru a vă oferi o experiență culinară de neuitat.
            </p>
        </div>
    </div>
</div>


{% endblock main %}
    