{% extends "base.html" %}
{% load static %}


{% block main %}
<div style="text-align: center; padding: 2em 0; background-color: #f8f8f8;">
    <div>
        <h1 style="font-size: 2.5em; margin-bottom: 0.5em;">Restaurant Exclusivist</h1>
        <h2 style="font-size: 1.5em; color: #555;">Ingrediente proaspete dintr-o rază de 20 km</h2>
        <h2 style="font-size: 1.3em; color: #777;">70% recoltate cu doar câteva ore înainte de preparare</h2>
        <p style="max-width: 800px; margin: 1.5em auto 0; font-size: 1.1em; line-height: 1.6; color: #333; padding: 0 20px;">
            Am dorit să creăm un restaurant care să pună în valoare ingredientele locale de cea mai bună calitate, majoritatea
            provenind din apropierea restaurantului și variind în funcție de sezon. Preparatele noastre sunt centrate pe simplitate și
            pe calitatea superioară a ingredientelor, gătite cu măiestrie, astfel încât să păstrăm întreaga savoare a acestora. 
        </p>
        <p style="max-width: 800px; margin: 1.5em auto; font-size: 1.1em; line-height: 1.6; color: #333; padding: 0 20px;">
            La Restaurantul 2 Mese, ne mândrim cu dedicarea noastră pentru sustenabilitate și respectul față de natură. Colaborăm
            strâns cu agricultorii locali și furnizorii pentru a asigura nu doar prospețimea, dar și o amprentă ecologică minimă. 
            Fiecare masă pe care o servim reflectă efortul nostru de a aduce pe masă doar cele mai bune produse, pregătite într-un
            mod care respectă tradițiile culinare și inovează în același timp.
        </p>
        <p style="max-width: 800px; margin: 1.5em auto; font-size: 1.1em; line-height: 1.6; color: #333; padding: 0 20px;">
            Atmosfera din restaurantul nostru este gândită pentru a oferi o experiență plăcută și relaxantă. Decorul elegant și
            serviciile impecabile contribuie la crearea unui ambient plăcut, ideal pentru a savura mesele noastre într-un cadru
            rafinat. Vă invităm să descoperiți un loc unde pasiunea pentru gastronomie și respectul pentru ingredientele de calitate
            se întâlnesc pentru a crea momente culinare memorabile.
        </p>
    </div>
</div>

{% endblock main %}
